Use Assignment
create table Account(
username varchar(50),
password varchar(50),
fullname varchar(50),
email varchar(50),
phone int,
dob varchar(50))

create table Post(
title nvarchar(max) null,
header nvarchar(max) null,
content nvarchar(max) null,
image nvarchar(max)null)


drop table Post




insert into Post(title,header,content,image) values('Chest exercises','1.3.Smith Machine Incline Press','The difference with this exercise is that the barbell is attached to the barbell. The push-ups are similar to other chest exercises.

Lie on a weight bench.
Two hands holding the barbell.
Slowly push up with the force of your hands.
Lower the weights down to your chest.
Repeat the action.','img/Excercise/cac-bai-tap-nguc-5.jpg')







