*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100%;
    min-height: 150vh;
}
.box-center{
    width: 80%;
    margin: 0 auto;
}
.menu-logo{
    height: 85px;
}
.menu-box .subnav li a{
    text-decoration: none;  
}
.menu-box {
    position: fixed;
    width: 250px;
    height: 50%;
    align-items: center;
    display: flex;
    z-index: 1000;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
   background-color: #fff;
    left: 0;
    top:0;

}

.row .menu-logo li {
    width: 45px;
    height: 45px;
    cursor: pointer;
}
.menu-logo li .Menu-logo{
    font-size: 20px;
    line-height: 85px;

}


.menu-box li a {
    display: block;
    padding: 0 20px;
    line-height: 45px;
    -webkit-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
    border-bottom: 1px solid #eaeaea;
    text-transform: capitalize;
}

.has-child .subnav{
    display: none;
    position:absolute;
    font-size: 15px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    background-color: #fff;
    z-index: 100px;
    width: 200px;
}

.menu-box li:hover .subnav{
    display: block;
}
.menu-box li:hover >a{
    color:#b30101;

}
.has-child li:hover a{
    color:#b30101;
}
.menu-box > ul{
   width: 100%;
    overflow: hidden;
}
.menu-box ul li a{
    width: 100%;
    font-size: 1.2em;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
 
}

.logo2 img{
    
    width: 130px;
    left: 20px;
    top: 0px;
    height: 80px;
    margin-left: 100px;
}

.logo3  img{
    width: 28px;
    left: 20px;
    top: 0px;
    height: 28px;  
    margin-top: 10px;  
    margin-left: 20px;
}
.login{
    display: flex;
    flex-direction: column;
}
.login a{
    text-decoration: none;
    color: #000;
}
.login span:hover > a{
    color:#b30101;
}
.loginform {
    margin-left: 100px;
}

.searchbar{
    margin-top: 30px;
    margin-left:100px;
    
}
.search{
    height: 30px;
}

.search2{
 height: 30px;
 border-radius: 1px;
 border-color: #b30101;
 background-color: #CC0101;
 color:#fff;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style: none;
    }
#Main{
    
}
#header{
    height: 100px;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}
.row {
    display: flex;
    height: 55px;
    justify-content: space-around;
}

#container{
    background-color: rgb(204, 1, 1);
    height:50px;
    padding:0 15px;
    margin-top: 100px;
}
#nav >li{
    display: inline-block;
}
#nav li{
    position: relative;
}

#nav .subnav{
    position: absolute;
}
#nav .subnav a {
    color: #000;
}
#nav .subnav{
    display: none;
    position:absolute;
    font-size: 15px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    background-color: #fff;
    z-index: 100px;
    width: 200px;
}

#nav >li>a{
text-transform: uppercase;
}

#nav li a{
color: #fff;
text-decoration: none;
line-height: 50px;
padding:0 15px;
display: inline-block;
position: relative;  
}

#nav .subnav li a{
    color:#000;
    text-decoration: none;
    line-height:30px;
    height: 30px;
   width: 100%;  
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a{
    background: #b30101;
}
#nav .subnav li:hover a{
    color:#b30101;  
}

#slider{
    margin-top: 10px;
}

article{
    float: left;
    width: 75%;
}
article img{
    border-radius: 15px;
    height: 450px;
    width: 90%;
    margin-left: 100px;
}
aside{
    float: left;
    width: 25%;
}
aside img{
    width: 90%;
    height: 225px;
    
}
#content{}
#footer{}