*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

 .logo1 img{
    width: 35px;
    left: 20px;
    top: 0px;
    height: 35px;
    line-height: 55px;
    margin-top: 20px;
}

.logo2 img{
    
    width: 130px;
    left: 20px;
    top: 0px;
    height: 80px;
    margin-left: 100px;
}

.logo3  img{
    width: 28px;
    left: 20px;
    top: 0px;
    height: 28px;  
    margin-top: 10px;  
    margin-left: 20px;
}
.login{
    display: flex;
    flex-direction: column;
}
.login a{
    text-decoration: none;
    color: #000;
}

.loginform {
    margin-left: 100px;
}

.searchbar{
    margin-top: 30px;
    margin-left:100px;
    
}
.search{
    height: 30px;
}

.search2{
 height: 30px;
 border-radius: 1px;
 border-color: #b30101;
 background-color: #CC0101;
 color:#fff;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style: none;
    }
#Main{
    background-color: #000;
}
#header{
    height: 100px;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}
.row {
    display: flex;
    height: 55px;
    justify-content: space-around;
}

#container{
    background-color: rgb(204, 1, 1);
    height:50px;
    padding:0 15px;
    margin-top: 100px;
}
#nav >li{
    display: inline-block;
}
#nav li{
    position: relative;
}

#nav .subnav{
    position: absolute;
}
#nav .subnav a {
    color: #000;
}
#nav .subnav{
    display: none;
    position:absolute;
    font-size: 15px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    background-color: #fff;
    z-index: 100px;
    width: 200px;
}

#nav >li>a{
text-transform: uppercase;
}

#nav li a{
color: #fff;
text-decoration: none;
line-height: 50px;
padding:0 15px;
display: inline-block;
position: relative;  
}

#nav .subnav li a{
    color:#000;
    text-decoration: none;
    line-height:30px;
    height: 30px;
   width: 100%;  
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a{
    background: #b30101;
}
#nav .subnav li:hover a{
    color:#b30101;  
}

#slider{
    margin-top: 10px;
}
.image{
    display: flex;
    justify-content: center;
}
.image img{
    width: 50%;
    height: 500px;
    border-radius: 15px;
}
#content{}
#footer{}